{% extends "/admin/layout.html" %} {% block title %} Dashboard {% endblock %}
{%block content %}
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Total Students</h5>
        <p class="card-text">{{ total_students }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card bg-success text-white">
      <div class="card-body">
        <h5 class="card-title">Total Courses</h5>
        <p class="card-text">{{ total_courses }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card bg-warning text-dark">
      <div class="card-body">
        <h5 class="card-title">Total Enrollments</h5>
        <p class="card-text">{{ total_enrollments }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
