{% extends '/admin/layout.html' %} {% block content %}
<title>Dashboard</title>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<title>Dashboard</title>
<link href="/static/css/admin/dashboard.css" rel="stylesheet" />
<div class="container mt-4">
  <h2 class="text-center mb-4">Dashboard</h2>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-user-graduate fa-2x"></i>
          <!-- Icon for Students -->
          <h5 class="card-title mt-2">Number of Students</h5>
          <p class="card-text">{{ total_students }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-book-open fa-2x"></i>
          <!-- Icon for Enrollments -->
          <h5 class="card-title mt-2">Number of Enrollments</h5>
          <p class="card-text">{{ total_enrollments }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-chalkboard-teacher fa-2x"></i>
          <!-- Icon for Courses -->
          <h5 class="card-title mt-2">Number of Courses</h5>
          <p class="card-text">{{ total_courses }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
