.profile-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.card-body p {
  text-align: justify;
}

.card-body h2 {
  text-align: center;
}

.card-body .btn {
  margin-top: 20px;
}
