.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: white;
}

table,
th,
td {
  border: 2px solid black;
}

th,
td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

@media (max-width: 768px) {
  th,
  td {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  th,
  td {
    font-size: 10px;
  }
}
