.table td,
.table th {
  padding: 0.75rem;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 200px;
}

.table {
  margin-bottom: 1rem;
  background-color: transparent;
}

.course-img {
  max-width: 100px;
  height: auto;
}

.courseinfotitle,
.enrollinfotitle,
.scheduleinfotitle {
  color: white;
}

/* Media queries for button styles */

@media (max-width: 450px) {
  .btn {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .btn {
    font-size: 0.55rem;
    padding: 0.3rem 1rem;
  }
}

@media (min-width: 820px) and (max-width: 950px) {
  .btn {
    font-size: 0.6rem;
    padding: 0.2rem 0.8rem;
  }
  .container {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 2050px) {
  .btn {
    font-size: 0.6rem;
    padding: 0.2rem 0.8rem;
  }
  .container {
    margin-left: 10px;
  }
}
