/* General Styles */
body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #4b79a1 0%, #283e51 100%);
  font-family: "Roboto", sans-serif;
}

/* Login Container Styles */
.login-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-photo .container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 900px;
}

/* Image and Form Containers */
.image-holder {
  flex: 1;
  background: url(/static/images/theme/Login.jpg) no-repeat center center;
  background-size: cover;
  min-height: 400px;
}

/* Ensure form container takes space correctly */
.form-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 8px;
}

/* Form Styling */
form {
  color: white;
}

form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
}

.form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  text-indent: 6px;
  height: 40px;
}

.btn-primary {
  background: black;
  color: white;
  border: none;
  padding: 11px;
  margin-top: 15px;
}

.btn-primary:hover {
  background: white;
  color: black;
}

.already a {
  color: rgb(0, 183, 255);
  text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .image-holder {
    display: none; /* Hide image on small screens */
  }

  .form-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .image-holder {
    display: block; /* Show image on medium and large screens */
  }
}
