/* General Styles */
body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #4b79a1 0%, #283e51 100%);
  font-family: "Roboto", sans-serif;
}

/* Login Container Styles */
.login-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-photo .container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 900px;
  height: 600px; /* Ensure container is tall enough */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  overflow: hidden;
}

/* Image and Form Containers */
.image-holder {
  flex: 1;
  background: url(/static/images/theme/SignUp.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100%; /* Ensure image holder takes full height of the container */
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 40px;
  height: 86.7%;
}

/* Form Styling */
form {
  width: 100%;
  max-width: 400px; /* Ensures form doesn't exceed this width */
  color: white;
}

form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
}

.form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  box-shadow: none;
  outline: none;
  text-indent: 6px;
  width: 100%;
  height: 40px;
}

.btn-primary {
  background: black;
  color: white;
  border: none;
  padding: 11px;
  margin-top: 15px;
}

.btn-primary:hover {
  background: white;
  color: black;
}

.signupfooter {
  margin-top: 20px; /* Added margin to separate from form content */
  font-size: 0.9rem;
  display: flex;
  justify-content: center; /* Center align items */
  width: 100%;
}

.signupfooter .text {
  color: #fff; /* White color for the text */
}

.signupfooter a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  margin-left: 10px; /* Adjust this value to move the link to the right */
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .image-holder {
    display: none; /* Hide image on small screens */
  }

  .form-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .image-holder {
    display: block; /* Show image on medium and large screens */
  }
}
